<%= magic_locaoles_admin_template do %>

  <%= content_for :headline do %>
    
    <%= link_to "+ #{t("activerecord.attributes.magic_locales_locale.one")}", url_for( controller: "magic_locales/locales", action: :new), class: "btn btn-success pull-right btn-sm", data: { toggle: "modal", target: "#appModal" } %> 
    <i class="icon-bubbles"></i> <%= t("activerecord.attributes.magic_locales_locale.other") %>
    
  <% end %>
  
  
  <%= content_for :locale_infos do %>
    
    <h4>
      <strong><%= t("magic_locales.available_locales") %></strong> 
      <% I18n.available_locales.each do |lang| %>
        <%= locale_flag( "#{lang}", "small" ) %>
      <% end %>
    </h4>
    <div class="clearfix"></div>
    <table class="table table-condensed">
      <% %w(live active inactive).each do |this| %>
        <tr>
          <th><%= t("helpers.label.magic_locales_locale.states.#{this}") %></th>
          <td><%= raw t("magic_locales.state_descriptions.#{this}") %></td>
        </tr>
      <% end %>
      <tr>
        <th><%= t("magic_locales.available") %>*</th>
        <td><%= t("magic_locales.available_locales_helper") %></td>
      </tr>
    </table>
    
  <% end %>


  <table class="table table-striped">
    <thead>
      <tr>
        
        <th><i class="icomoon-image"></i></th>
        <th><%= t("helpers.label.magic_locales_locale.iso_code") %></th>
        <th><%= t("helpers.label.magic_locales_locale.name") %></th>
        <th><%= t("helpers.label.magic_locales_locale.locale_state") %></th>
        <th><%= t("magic_locales.available") %></th>
        <th><%= t("magic_locales.trigger") %></th>
        <th><%= t("magic_locales.actions") %></th>
        
      </tr>
    </thead>
    <tbody>
    <% @locales.each do |locale| %>
      <% if locale.locale_state == "live" && I18n.available_locales.include?(locale.iso_code.to_sym) %>
        <% trclass = "success" %>
      <% elsif locale.locale_state == "active" && I18n.available_locales.include?(locale.iso_code.to_sym) %>
        <% trclass = "info" %>
      <% elsif locale.locale_state == "inactive" && I18n.available_locales.include?(locale.iso_code.to_sym) %>
        <% trclass = "warning" %>
      <% elsif (locale.locale_state == "active" || locale.locale_state == "live") && !I18n.available_locales.include?(locale.iso_code.to_sym) %>
        <% trclass = "danger" %>
      <% else %>
        <% trclass = "" %>
      <% end %>
      <tr class="<%= trclass %>">
        
        <td>
          <%= locale_flag( locale.iso_code, "small" ) %>
        </td>
        <td>
          <%= locale.iso_code %>
        </td>
        <td><strong><%= locale.name %></strong></td>
        <td>
          <%= t("helpers.label.magic_locales_locale.states.#{locale.locale_state}") %>
          <% if I18n.default_locale.to_s == locale.iso_code %>
            &nbsp;<span class="label label-success"><%= t("magic_locales.default_locale") %></span>
          <% end %>
          <% if I18n.locale.to_s == locale.iso_code %>
            &nbsp;<span class="label label-success"><%= t("magic_locales.active_locale") %></span>
          <% end %>
        </td>
        <td>
          <% if I18n.available_locales.include?(locale.iso_code.to_sym) %>
            <span class="text-success"><%= t("magic_locales.availables.true") %></span>
          <% else %>
            <span class="text-danger"><%= t("magic_locales.availables.false") %></span>
          <% end %>
        </td>
        <td>
          <%= render "magic_locales/admin_triggers", locale: locale %>
        </td>
        <td>
          <%= render "magic_locales/admin_actions", locale: locale %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
